.site-nav {
  background: #fff;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: all 0.35s ease;
  z-index: 100; }
  .site-nav .caret {
    opacity: 0.2; }
  .site-nav .brand img {
    height: 40px;
    margin-right: 10px;
    margin-top: -2px; }
  .site-nav .dropdown {
    display: inline-block; }
  .site-nav nav {
    padding: 12px 30px;
    float: left;
    height: 80px;
    display: table-cell; }
  .site-nav #navigation {
    padding-right: 0; }
    .site-nav #navigation a {
      border: 0;
      margin: 0 0.9em;
      display: inline-block; }
      .site-nav #navigation a:hover {
        color: #2077b2; }
    .site-nav #navigation > a, .site-nav #navigation .dropdown-toggle {
      color: #444;
      border: 0;
      font-weight: 600;
      font-size: 15px;
      display: inline-block; }
    .site-nav #navigation .dropdown-toggle {
      padding: 6px 0.5em;
      text-align: center; }
      .site-nav #navigation .dropdown-toggle:hover {
        background: #eee; }
  .site-nav .tagline {
    float: right;
    text-align: right;
    font-size: 15px;
    font-weight: 600; }
    .site-nav .tagline span {
      line-height: 0;
      padding-right: 20px; }

.site-footer {
  padding: 5em 0;
  margin: 4em 0 0 0;
  background: whitesmoke;
  color: #aaa;
  font-size: 0.8em; }
  .site-footer a {
    color: #777;
    border: 0;
    margin: 0 0.5em; }
    .site-footer a:hover {
      color: #222; }
  .site-footer p {
    color: #999; }
    .site-footer p a {
      margin: 0;
      color: #999; }
  .site-footer nav {
    display: inline-block; }
  .site-footer .social {
    float: right; }
    .site-footer .social a {
      color: #000;
      border: 0;
      width: 36px;
      height: 36px;
      border: 2px solid black;
      display: inline-block;
      padding: 10px 0;
      border-radius: 42px;
      margin: 0 1em 0em 0;
      transition: 0.2s all ease;
      line-height: 0;
      text-align: center;
      opacity: 0.3; }
      .site-footer .social a:hover {
        opacity: 0.9; }

.blog-cover {
  max-width: 100%;
  position: static;
  height: 549px;
  overflow: hidden;
  background: #eee; }

.page-title {
    margin: auto;
    height: 450px;
	color: #fff;
	vertical-align: bottom;
    display: table-cell;
}
